<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-03-13T00:37:17Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mikerodgers/Startup-Intelligence-OS/apps/ios-device-probe/IOSDeviceProbe.xcodeproj</string>
</dict>
</plist>
